<header></header>
<div class="overlay" *ngIf="ddOverlay"></div>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn-fat btn-primary" (click)="loadScheduler()">Tour Planner</button>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col-xs-12 text-center content page-header">
            <div class="card">
                <div class="back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="left-block">
                    <span><img src="assets/images/sales-report.png" alt=""></span>
                </div>
                <div class="right-block">
                    <h1>Daily Sales</h1>
                    <p>Sunday: Jan 27, 2019</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-xs-12 content">
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <app-dropdown [list]="locations" [label]="location_label" (locationChange)="onSelection($event)"></app-dropdown>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <app-radiogroup [options]="customers" (selectedRadio)="onOptionSelect($event)"></app-radiogroup>
                    </div>
                </div>
                <app-dropdown [list]="distributors" [label]="distributor_label" *ngIf="isDistributorSelected"></app-dropdown>
                <app-dropdown [list]="doctors" [label]="doctor_label" *ngIf="isDoctorSelected"></app-dropdown>
                <hr>
            </div>
        </div>
    </div> -->
</div>

<div class="modal-popup" id="modal-popup" (click)="hidePopup($event)">
    <div class="modal-content">
        <button (click)="increment()"><img src="assets/images/plus.png" alt=""></button>
        <input type="text" value={{count}} />
        <button (click)="decrement()"><img src="assets/images/minus.png" alt=""></button>
    </div>
</div>