<!-- <div class="brand">
    <img src="assets/images/brand-logo.png" alt="">
</div> -->
<div class="overlay" *ngIf="ddOverlay"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center content page-header">
            <div class="card">
                <div class="back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="left-block">
                    <span><img src="assets/images/sales-report.png" alt=""></span>
                </div>
                <div class="right-block">
                    <h1>Daily Sales</h1>
                    <p>Sunday: Jan 27, 2019</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 content">
            <div class="card">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Location</h3>
                        <div class="location">
                            <div class="dropdown-component">
                                <div id="dd" class="wrapper-dropdown-2 text-center"><a href="javascript:void(0);" id="locname" (click)="toggleDropdown($event)">Select</a>
                                    <ul class="dropdown">
                                        <li *ngFor="let location of locations" class="text-left"><a href="javascript:void(0);" [attr.value]="location" (click)="selectItem($event, 'loc')"><i class="icon-large"></i>{{location.area_name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <hr>
               <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="client">
                            <h3>Doctor</h3>
                            <div class="dropdown-component">
                                <div id="dd" class="wrapper-dropdown-2 text-center"><a href="javascript:void(0);" id="distname" (click)="toggleDropdown($event)">Select</a>
                                    <ul class="dropdown">
                                        <li *ngFor="let dist of distributors" class="text-left"><a href="javascript:void(0);" [attr.value]="dist" (click)="selectItem($event, 'dist')"><i class="icon-large"></i>{{dist}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="client">
                            <h3>Distributor</h3>
                            <div class="dropdown-component">
                                <div id="dd" class="wrapper-dropdown-2 text-center"><a href="javascript:void(0);" id="distname" (click)="toggleDropdown($event)">Select</a>
                                    <ul class="dropdown">
                                        <li *ngFor="let dist of distributors" class="text-left"><a href="javascript:void(0);" [attr.value]="dist" (click)="selectItem($event, 'dist')"><i class="icon-large"></i>{{dist}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <!-- <drug-list></drug-list> -->

    <div class="row">
        <div class="col-xs-12 content footer-container" style="position: fixed; bottom: 0; left: 0;">
            <!-- <div class="card"> -->
                <div class="list-footer">
                    <div class="label">Total</div>
                    <div id="total" class="total">{{total}}</div>
                    <div class="clearfix"></div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<div class="modal-popup" id="modal-popup" (click)="hidePopup($event)">
    <div class="modal-content">
        <button (click)="increment()"><img src="assets/images/plus.png" alt=""></button>
        <input type="text" value={{count}} />
        <button (click)="decrement()"><img src="assets/images/minus.png" alt=""></button>
    </div>
</div>

<!-- <div class="overlay" *ngIf="ddOverlay"></div> -->