<div class="container login-page">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-holder">
                <div class="brand">
                    <img src="assets/images/brand-logo.png" alt="">
                    <h1 class="text">MEDRep</h1>
                    <input type="text" placeholder="Username" class="user_credential" />
                    <input type="password" placeholder="Password" class="user_credential" />
                    <a href="#" routerLinkActive="active" routerLink="/login-page" class="loginButton" (click)="onLogin()">LOGIN</a>
                    <div class="forgot">Forgot Password?</div>
                </div>
            </div>
        </div>
    </div>
</div>