<div class="row">
    <div class="col-xs-12 content tab-container" id="tab-content">
        <div class="card">
            <div class="tab-component">
                <div class="tabs">
                    <input id="tab1" type="radio" name="tabs" checked="checked" />
                    <label for="tab1" (click)="openTab($event);">Mon</label>
                        
                    <input id="tab2" type="radio" name="tabs" />
                    <label for="tab2" (click)="openTab($event);">Tue</label>
                        
                    <input id="tab3" type="radio" name="tabs" />
                    <label for="tab3" (click)="openTab($event);">Wed</label>
                        
                    <input id="tab4" type="radio" name="tabs" />
                    <label for="tab4" (click)="openTab($event);">Thu</label>
                    
                    <input id="tab5" type="radio" name="tabs" />
                    <label for="tab5" (click)="openTab($event);">Fri</label>
                    
                    <input id="tab6" type="radio" name="tabs" />
                    <label for="tab6" (click)="openTab($event);">Sat</label>
                </div>
            </div>
            <div class="tab-content">
                <section id="tab1-content" class="active">
                    <ul class="list" id="list">
                        <!-- <li *ngFor="let drug of list; let i = index;"><a [attr.data-index]="i" href="javascript:void(0);" (click)="notify($event)" hm-tap="onHammer">{{drug.name}}<span class="quantity">{{drug.quantity}}</span></a></li> -->
                        <li *ngFor="let drug of drugs; let i = index;">
                            <a [attr.data-index]="i" href="javascript:void(0);" class="drugname" (click)="populateDrugs()">
                                {{ (i+1) +'. ' + drug.med_name}}<span class="quantity">{{quantity}}</span>
                                <div class="slidecontainer">
                                    <input type="range" min="1" max="100" value="0" class="slider" id="myRange" (input)="onDrag($event)">
                                </div>
                            </a>
                            <span class="filler"></span>
                        </li>
                    </ul>
                </section>  
                <section id="tab2-content">
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="openModal($event)"></drug-list> -->
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="modifyCount($event)"></drug-list> -->
                </section>
                <section id="tab3-content">
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="openModal($event)"></drug-list> -->
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="modifyCount($event)"></drug-list> -->
                </section>
                <section id="tab4-content">
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="openModal($event)"></drug-list> -->
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="modifyCount($event)"></drug-list> -->
                </section>
                <section id="tab5-content">
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="openModal($event)"></drug-list> -->
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="modifyCount($event)"></drug-list> -->
                </section>
                <section id="tab6-content">
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="openModal($event)"></drug-list> -->
                    <!-- <drug-list [list]="drugs" (result)="displayTotal($event)" (openModifier)="modifyCount($event)"></drug-list> -->
                </section>
            </div>
        </div>
    </div>
</div>



